@font-face {
  font-family: test1;
  src: url(test3.ttf);
}

body {
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.curvedText {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10%;
  fill: rgb(153, 0, 255);
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

.curvedText svg {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: visible;
}

text {
  font-family: test1;
  font-size: 120px;
  text-anchor: middle;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
  transform: translate(-50%, -50%);
}

#downloadBTN {
  background-color: rgb(165, 30, 255);
  position: absolute;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
  z-index: 20;
}

#downloadBTN:hover {
  color: rgb(167, 167, 167);
  background-color: rgb(79, 1, 175);
}

.watermark {
  color: white;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

footer {
  display: grid;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3vh;
  width: 100%;
  background-color: rgba(179, 179, 179, 0);
  color: white;
  text-align: center;
  align-items: center;
}
