body {
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login-box {
    background: white;
    height: 250px;
    width: 200px;
    padding: 20px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
input[type="keyword"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  button {
    padding: 10px 20px;
    border: none;
    background: #ae00ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.error {
    color: red;
    font-style: italic;
    font-size: 15px;
    min-height: 20px;
    min-width: 30px;
    padding: 0;
    margin: 0;
}

.watermark {
  color: gray;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
  transform: translate(-50%, -50%);
}